<!DOCTYPE html>

<html>
<head>
<title>

img {width: 500px; }


body {font-family: helvetica;
background-color: #1A1D4D;
color: #D0ECE7;}


h1,h2,h3 { color: #ED7D9A; }

a {color: #ED7D9A}


left column {text-align: center;}

.header {background-color: #89856A;
color: white;}

</title>
</head> 
</html>